.about-container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    width: 100%;
    font-family: 'Segoe UI';
    min-height: 90vh;
}

.dark-theme {
    background-color: #161515;
    color: #ffffff;
}

.light-line {
    background-color: #000000;
}

.dark-line {
    background-color: #ffffff;
}

.about-desc-container {
    width: 50%;
}

.para-about-item {
    font-size: 14px;
}

.about-heading {
    font-size: 36px;
    width: 30%;
}

.span-about-item {
    font-size: 24px;
}

.span-bold-item {
    font-weight: 600;
}

.social-icons-container {
    margin-top: -80px;
    background-color: transparent;
}

.heading-container {
    display: flex;
    justify-content: space-between;
    align-items: center
}

.line-through {
    width: 50%;
    height: 1px;
    flex-grow: 1;
}

.line-between {
    width: 30%;
    height: 1px;
    align-self: flex-start;
    margin-top: 30px;
}

.images-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.yellow-image {
    width: 35%;
    margin-left: -100px;
    height: 200px;
}

.grey-image {
    width: 35%;
}

.image-about-container {
    background-image: url('../../../public/Vector3.png');
    width: 20%;
    height: 600px;
    background-size: cover;
}

.hand-container {
    width: 20%;
}

.hand-image-container {
    background-image: url('../../../public/Vector4.png');
    background-size: cover;
}

.hand-image {
    width:100%;
}