.icons-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
}

.dark-theme {
    color: #ffffff;
}

.dark-btn {
    border: 2px solid #ffffff;
}

.light-btn {
    border: 2px solid black;
}

.btn {
    background-color: transparent;
    
    border-radius: 30px;
    width: 25px;
    height: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.Koo-image {
    width: 10px;
}